
    body {
        
        
        
        background-color: #910D0D; /* Cor de fundo desejada */
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif; /* Fonte básica para garantir que o texto esteja visível */
        display: flex;
        justify-content: center; /* Centraliza o conteúdo horizontalmente */
        align-items: center; /* Centraliza o conteúdo verticalmente */
        height: 100vh; /* Garante que a altura do corpo ocupe toda a altura da tela */
    }
    
    .img1 {
        position: absolute; /* Permite posicionar a imagem com precisão */
        bottom: 160px; /* Distância do fundo da tela */
        right: 150px; /* Distância da borda direita da tela */
        width: 900px; /* Largura da imagem */
    }

    .img2 {
        position: absolute; /* Permite posicionar a imagem com precisão */
        bottom: 617px; /* Distância do fundo da tela */
        right: 1200px; /* Distância da borda direita da tela */
        width: 70px; /* Largura da imagem */
    }
    

    .header-bar {
        position: absolute; /* Fica fixo na parte superior do body */
        top: 0;
        left: 0;
        width: 100%; /* Ocupa toda a largura da tela */
        height: 80px; /* Altura da barra branca */
        background-color: #ffffff; /* Cor branca */
    }

    p {
        font-family: 'Century', serif; /* Fonte dos parágrafos */
        color: #000000; /* Cor do texto preta */
        font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
        margin: 20px 0 640px; /* Ajuste a margem superior para 20px para mover o texto para cima */
        padding: 100px; /* Adiciona algum espaçamento entre o texto e a borda */
        z-index: 2; /* Garante que os parágrafos fiquem acima de outros elementos */
        position: relative; /* Garante que os parágrafos fiquem acima de outros elementos */
    }

  
    
    